<footer>
    <ul>
        <li><a href="/"><img src="images/logo.png">© <%= new Date().getFullYear() %> Commit&Tweet</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Security</a></li>
        <li><a href="">Status</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <%  %>
    <% if (isCurrentPage) { %>
        <script src="script.js"></script>
    <% } %>
</body>
</html>